<div class="container-sub-edit">
	<!-- TODO cambié botón <button class="row middle poppins text-big deep-sea-green bold m-bottom-9" (click)="goBack()">
	  <i class="icon icon-long-left-arrow back-arrow title-small m-right-2"></i>
	  Volver
	</button> -->

	<a class="text-big poppins bold deep-sea-green m-bottom-6 row2 middle link-simple" href="/subsidiary">
		<i class="icon icon-long-left-arrow deep-sea-green title-medium m-right-1"></i>
		Volver
	</a>

	<h1 class="title-small poppins bold deep-sea-green m-bottom-9">Editar información de la sucursal</h1>
	<form [formGroup]="form" class="details-container" *ngIf="subsidiaryDetails"
	  (ngSubmit)="saveChanges()">
	  <div formGroupName="general" class="card-container width-100 column2 center m-top-6">
		<button type="button" (click)="toggleCard('general')" class="toggle-card border-none"><i
			class="icon icon-short-down-arrow title-medium deep-sea-green bold"></i></button>
		<div class="inner-container">
		  <h3 class="title-small deep-sea-green medium">Datos generales</h3>
		  <div *ngIf="generalShow" class="column2 m-top-12">
			<app-input-control formControlName="company" label="Nombre de la sucursal" id="company"
			  classContainer="m-bottom-9"></app-input-control>
			<app-select-control formControlName="country" label="País" id="country" [data]="countries"
			  classContainer="m-bottom-9" (valueChange)="changeCountry($event)"></app-select-control>
			<app-select-control formControlName="regional" label="Regional" id="regional" [data]="regions"
			  classContainer="m-bottom-9" (valueChange)="changeRegional($event)"></app-select-control>
			<app-select-control formControlName="city" label="Ciudad" id="city" [data]="cities"
			  classContainer="m-bottom-9" (valueChange)="changeCity($event)"></app-select-control>
			<app-input-control formControlName="address" label="Dirección" id="address" classContainer="m-bottom-9">
			</app-input-control>
		  </div>
		</div>
	  </div>
	  <!-- <div formGroupName="contact" class="card-container width-100 column2 center m-top-6"
		[ngClass]="{ hide: !contactShow }"> -->
	  <div formGroupName="contact" class="card-container width-100 column2 center m-top-6">
		<button type="button" (click)="toggleCard('contact')" class="toggle-card border-none"><i
			class="icon icon-short-down-arrow title-medium deep-sea-green bold"></i></button>
		<div class="inner-container">
		  <h3 class="title-small deep-sea-green medium">Datos de contacto</h3>
		  <div *ngIf="contactShow" class="column2 m-top-12">
			<app-input-control formControlName="contactName" label="Nombre de contacto" id="contactName"
			  classContainer="m-bottom-9"></app-input-control>
			<app-input-control formControlName="contactPhone" label="Teléfono de contacto" id="contactPhone"
			  classContainer="m-bottom-9"></app-input-control>
			<app-input-control formControlName="contactEmail" label="Correo electrónico" id="contactEmail"
			  classContainer="m-bottom-9"></app-input-control>
			<h3 class="text-big bold deep-sea-green m-bottom-3">Datos del administrador general</h3>
			<div class="row">
			  <img src="/o/mkpl-subsidiary-edit/icons/warning.png" class="warning-icon m-right-3" alt="" />
			  <p class="text-normal deep-sea-green m-bottom-9">
				El siguiente es el correo electrónico actual del administrador de la plataforma, puede hacer clic en el
				ícono lápiz para
				editar la información si es necesario.
			  </p>
			</div>
			<app-input-control formControlName="adminEmail" label="Correo electrónico administrador" id="adminEmail"
			  class="m-bottom-9"></app-input-control>
		  </div>
		</div>
	  </div>
	  <!-- TODO: Se epidió que esto no se muestre ya que va a cambiar <div class="card-container width-100 column center m-top-6" [ngClass]="{ hide: !deliveryShow }">
		<button type="button" (click)="toggleCard('delivery')" class="toggle-card"><i
			class="icon icon-short-down-arrow title-medium deep-sea-green bold"></i></button>
		<div class="inner-container">
		  <h3 class="title-small deep-sea-green medium">Tiempo de entrega</h3>
		  <div *ngIf="deliveryShow" class="column m-top-4">
			<delivery-city-times [regions]="regions" [cities]="cities" (locationsUpdated)="setLocations($event)">
			</delivery-city-times>
		  </div>
		</div>
	  </div> -->
	  <div class="button-container row end m-top-6 m-bottom-6">
		<!-- <button type="button" (click)="goBack()" class="button-secondary m-right-4" [disabled]="loading">Volver</button> -->
		<a class="button-secondary m-right-4 deep-sea-green link-simple" href="/subsidiary">
			Volver
		</a>
		<button type="submit" class="button-primary"
		  [disabled]="form.invalid || loading">{{loading ? 'Cargando' : 'Editar'}}</button>
	  </div>
	</form>
</div>

<modal class="modal-hidden" id="modal-subsidiary-edit" classContent="modal-content" [applyPadding]="false">
	<div class="modal-content column2 center">
	  <div class="header-content width-100 row center middle m-bottom-4">
		<img class="icon" [src]="requestError ? '/o/mkpl-subsidiary-edit/icons/doc-error.svg' : '/o/mkpl-subsidiary-edit/icons/doc-success.svg'"
		  alt="Estado" />
	  </div>
	  <div class="modal-message column2 center">
		<h2 class="title-medium text-center poppins bold m-bottom-4 deep-sea-green">
		  {{requestError ? '¡Los datos no se actualizaron!' : '¡Datos actualizados!'}}
		</h2>
		<p class="field-text deep-sea-green m-bottom-9 text-center">
		  {{requestError ? 'Los datos ingresados no fueron actualizados, por favor inténtalo nuevamente.' : 'Los datos ingresados se actualizaron con éxito'}}
		</p>
		<button class="button-primary m-bottom-9" (click)="closeModal()" type="button">
		  {{requestError ? 'Ingresar datos' : 'Regresar'}}
		</button>
	  </div>
	</div>
</modal>
